:root {
  /* primary colors */
  --blue: hsl(246, 80%, 60%);
  --light-red__work: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red__study: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  /* neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-dark-blue);
  color: hsl(0, 0%, 100%);
  font-family: 'Rubik', sans-serif;
}

.container {
  margin: 25px auto;
  width: 80%;
}

@media (min-width: 1440px) {}
